# Strings

Notice that both single quotes and double quotes give us the same string. You can pick whichever style that you like. We can also create multi-line strings, with embedded newline characters.

In [1]:
s = "hello\nPakistan"
s

'hello\nPakistan'

In [2]:
print (s)

hello
Pakistan

In [3]:
s = """hello
Pak
is
tan"""

In [4]:
s

'hello\nPak\nis\ntan'

In [5]:
print (s)

hello
Pak
is
tan

# Comprehensions

### List Comprehensions

One downside of list comprehensions is that they create the full list of values

In [6]:
# comput the square 
fields = [1,2,3,4,5]
sqr = []
for field in fields:
    sqr.append(field*field)
print(sqr)

[1, 4, 9, 16, 25]

In [7]:
sqr1 = [f*f for f in fields]
print(sqr1)

[1, 4, 9, 16, 25]

In [8]:
# calculate the sum of '1 2 3 4 5' 
line = '1 2 3 4 5'
fields = line.split()
fields

['1', '2', '3', '4', '5']

In [9]:
total = 0
for field in fields:
    total += int(field)
print(total)

15

In [10]:
# calculate the sum using list comprehension
total = 0
for field in fields:
    total += int(field)
print(total)

15

In [13]:
#   Calcuate the average of above list ???   
avg = 0
count = 0
for field in fields:
    avg += int(field)
    count += 1
avg = avg / count
print(avg)

3.0

In [18]:
# Calculate the Squre of the lst1[10, 21, 4, 7, 12] greater than equal to 10  using list comprehension ???
line = [10, 21, 4, 7, 12]
for field in line:
    if (int(field)**2 >= 10):
        print(int(field)**2)

100
441
16
49
144

### Dictionary Comprehensions

In [25]:
# build dictionary where keys are numbers and values are 10
fields = [1,2,3,4,5]
dicc = {f:10 for f in fields}

In [27]:
# build dictionary where keys are numbers and values are keys+10 where key > 2
fields = [1,2,3,4,5]
dicc = {f:f+10 for f in fields if f >2}

In [28]:
dicc

{3: 13, 4: 14, 5: 15}

In [19]:
# build dictionary where keys are numbers and values are cube of a number
num = dict()
for i in range(5):
    num[i] = i**2
print(num)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [24]:
print (dicc)

{3: 2, 4: 3, 5: 4}

Function
========

In [29]:
def add(a,b):
    total = a+b
    return total

In [30]:
add(3,4)

7

In [38]:
def add(a,*b):
    total = a
    for i in b:
        total += i
    return total

In [39]:
add(3,2,34,5)

44

In [43]:
l = [2,34,5]
add(3,*l)

44

In [48]:
# A function can accept arbitrary keyword argument using the following syntax
def add(x,**kwargs,):
    total = x
    for arg,value in kwargs.items():
        total += value
    return total

In [49]:
print (add(10, z=12, w=13))

35

In [44]:
# The following syntax accepts any number of positional and keyword arguments
def foo(*args, **kwargs):
    print (args, kwargs)

In [45]:
foo(2,3, x='foo', z=10)

(2, 3) {'x': 'foo', 'z': 10}

In [50]:
class Person(object):
    def __init__(self, first, last, age):
        self.first = first
        self.last = last
        self.age = age
    
    def full_name(self):
        return self.first + ' ' + self.last

In [51]:
per = Person('Muhammad', 'Imran', 35)
print(per.first)
print (per.age)

Muhammad
35

In [52]:
per.full_name()

'Muhammad Imran'

In [53]:
per.last = 'Ahmad'
per.full_name()

'Muhammad Ahmad'

In [54]:
pets = {'dogs':5, 'cats':4}
per.pet = pets
per.pet

{'cats': 4, 'dogs': 5}

# Other concepts

In [57]:
range(5,10)

range(5, 10)

In [58]:
list (range(5,10))

[5, 6, 7, 8, 9]

### Lambda

In [ ]:
# A lambda function is a small anonymous function.
# A lambda function can take any number of arguments, but can only have one expression.

# lambda arguments : expression

In [59]:
# A lambda function that adds any number with 10
a = lambda x:x+10
print (a(5))

15

In [60]:
# multiplication
m = lambda x,y:x*y
print (m(3,4))

12

In [61]:
# The power of lambda is better shown when you use them as an anonymous function inside 
# another function.

# A function definition that takes one argument, and that argument will be multiplied with 
# an unknown number:
def unknownumber(a):
    return lambda b: b*a

In [62]:
mynumber = unknownumber(5)

In [63]:
print (mynumber(3))

15

### map() Function

In [66]:
# map(function, iterables)

# calculate the length of each element of list
names = ['ahmad', 'faiz', 'cherry']
def myfunc(n):
    return len(n)

x = map(myfunc,names )
print (list(x))

[5, 4, 6]

In [72]:
Fnames = ['ahmad', 'faiz', 'cherry']
Lnames = ['faraz', 'ahmad faiz', 'john']

def myfunc(a, b):
      return a +' '+ b

x = map(myfunc, Fnames, Lnames)

In [73]:
print (list(x))

['ahmad faraz', 'faiz ahmad faiz', 'cherry john']

### zip

In [75]:
# zip(iterator1, iterator2, iterator3 ...)

# Join two tuples together:
Fnames = ('ahmad', 'faiz', 'cherry')
Lnames = ('faraz', 'ahmad faiz', 'john')
names = zip(Fnames,Lnames)

In [77]:
print (list(names))

[('ahmad', 'faraz'), ('faiz', 'ahmad faiz'), ('cherry', 'john')]

In [78]:
# If one tuple contains more items, these items are ignored:
Fnames = ('ahmad', 'faiz', 'cherry', 'Faisal')
Lnames = ('faraz', 'ahmad faiz', 'john')
names = zip(Fnames,Lnames)

In [79]:
print (list(names))

[('ahmad', 'faraz'), ('faiz', 'ahmad faiz'), ('cherry', 'john')]

In [88]:
for i,j in zip(names):
    print (i,j)

### enumerate

In [94]:
Fnames = ('ahmad', 'faiz', 'cherry', 'Faisal')
ID = enumerate(Fnames)

In [95]:
for a in ID:
    print(a)

(0, 'ahmad')
(1, 'faiz')
(2, 'cherry')
(3, 'Faisal')

In [97]:
%timeit(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19)

16.7 ns ± 0.155 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [98]:
%timeit[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]

164 ns ± 2.89 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)