# Contents
## 1. A list is a sequence
## 2. Lists are mutable
## 3. in operator
## 4. Traversing a list
## 5. List operations
## 6. List slices
## 7. List methods
## 8. Deleting elements
## 9. built-in functions
## 10. Lists and strings
## 11. Objects and values
## 12. List arguments

# 1. A list is a sequence

Like a string, a list is a sequence of values. 
In a string, the values are characters; in a list, they can be any type. 
The values in list are called elements or sometimes items.

In [1]:
lst1 = [10, 20, 30, 40]

In [2]:
lst1

[10, 20, 30, 40]

In [3]:
lst2 = ['crunchy frog', 'ram bladder', 'lark vomit']

In [4]:
lst2

['crunchy frog', 'ram bladder', 'lark vomit']

In [5]:
#create a list of fruits and print it
lst2 = ['mango', 'guava', 'strawberry']
print(lst2)

['mango', 'guava', 'strawberry']

In [8]:
lst3 = ['spam', 2.0, 5, [10, 20]]

In [37]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]
empty = []
print (cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

# 2. Lists are mutable

The syntax for accessing the elements of a list is the same as for accessing the characters of a string—the bracket operator. 
The expression inside the brackets specifies the index. 
Remember that the indices start at 0:

In [9]:
print (cheeses[0])

Cheddar

In [10]:
#print the cheeses last element, remeber how we accessed last element of string?
print (cheeses[2])

Gouda

In [12]:
#print the cheeses last two element, remeber how we accessed last elements of string?
print (cheeses[1], cheeses[2])

Edam Gouda

Unlike strings, lists are mutable because you can change the order of items in a list or reassign an item in a list. 
When the bracket operator appears on the left side of an assignment, it identifies the element of the list that will be assigned.

In [13]:
numbers

[17, 123]

In [14]:
numbers[1] = 5

In [15]:
print (numbers)

[17, 5]

In [16]:
#Change the number 17 with 25 and print the list again
numbers[0] = 25
print (numbers)

[25, 5]

# 3. in operator

In [17]:
'Edam' in cheeses

True

In [18]:
'Adam' in cheeses

False

In [19]:
#Check if maham exists in cheeses or not? If Maham exists you should print "Maham will be the winner" if not "Lets go!"
if('maham' in cheeses):
    print("Maham will be the winner")
else:
    print("Lets go!")

Lets go!

In [20]:
#Check for some person using "not in cheeses"
'Adam' not in cheeses

True

# 4. Traversing a list

In [29]:
for cheeses in cheeses:
    print (cheeses)

Cheddar
Edam
Gouda

In [30]:
#Try to traverse the empty list

for empty in empty:
    print(empty)

In [31]:
#print the length of cheeses using len function
len(cheeses)

5

In [38]:
#print the type of cheeses list
print (cheeses)

['Cheddar', 'Edam', 'Gouda']

In [39]:
# range returns a list of indices from 0 to n−1, where n is the length of the list.
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2

In [40]:
print(numbers)

[34, 246]

In [42]:
#take squareroot of each number in the numbers list and update the numbers list
import math 
for i in range(len(numbers)):
    numbers[i] = math.sqrt(numbers[i])
print(numbers)

[5.830951894845301, 15.684387141358123]

In [45]:
#make a new list "NumPow10" and store the power 10 value of each number in the numbers list to this new list
NumPow10 = [(numbers[0])**10, (numbers[1])**10]
print(NumPow10)
#You can seach how we take power of a number using internet in Python

[45435424.00000002, 900897818976.0004]

# 5. List operations

In [68]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print (c)

[1, 2, 3, 4, 5, 6]

In [69]:
[0] * 4 #List Concatination

[0, 0, 0, 0]

In [70]:
#Concatenate the list 'a' 4 times and sort it, output should be [1,1,1,1,2,2,2,2,3,3,3,3]

a2 = a * 4

a2.sort() 
  
print(a2)

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

# 6. List slices

In [71]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [72]:
t[:4]

['a', 'b', 'c', 'd']

In [73]:
t[3:]

['d', 'e', 'f']

In [74]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [75]:
# A slice operator on the left side of an assignment can update multiple elements:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

In [76]:
sliceObj = slice(3,6)
t[sliceObj]

['d', 'e', 'f']

# 7. List methods

In [77]:
# append adds a new element to the end of a list:
t = ['a', 'b', 'c']
t.append('d')
print(t)

['a', 'b', 'c', 'd']

In [78]:
# extend takes a list as an argument and appends all of the elements:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print (t1)

['a', 'b', 'c', 'd', 'e']

In [88]:
# sort arranges the elements of the list from low to high:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

In [89]:
#using the ascii values extend the list to all alphabets of abc
t2 = t

for i in range(102, 123):
    t2.extend(chr(i))
print(t2)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

Most list methods are void; they modify the list and return None. 
If you accidentally write t = t.sort(), you will be disappointed with the result.

# 8. Deleting elements

There are several ways to delete elements from a list. 
If you know the index of the element you want, you can use pop:

In [90]:
t = ['a', 'b', 'c']
x = t.pop(1)
print (t)
print (x)

['a', 'c']
b

pop modifies the list and returns the element that was removed. 
If you don’t provide an index, it deletes and returns the last element.

In [91]:
# If you don’t need the removed value, you can use the del operator:
t = ['a', 'b', 'c']
del t[1]
print (t)

['a', 'c']

In [92]:
# If you know the element you want to remove (but not the index), you can use remove:
t = ['a', 'b', 'c','b']
t.remove('b') # The return value from remove is None
print (t)

['a', 'c', 'b']

In [93]:
# To remove more than one element, you can use del with a slice index:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print (t)

['a', 'f']

# 9. built-in functions

In [94]:
nums = [3, 41, 12, 9, 74, 15]
print (len(nums))
print (max(nums))
print (min(nums))
print (sum(nums))

6
74
3
154

In [95]:
# how we can compute average?
print (sum(nums)/len(nums))

25.666666666666668

# 10. Lists and strings

In [96]:
s = 'spam'
t = list(s)
print (t)

['s', 'p', 'a', 'm']

In [97]:
s = 'pining for the fjords'
t = s.split()
print (t)

['pining', 'for', 'the', 'fjords']

In [98]:
# You can call split with an optional argument called a delimiter specifies which
# characters to use as word boundaries.
s = 'spam-spam-spam'
delimiter = '-'
print (s.split(delimiter))

['spam', 'spam', 'spam']

In [99]:
# join is the inverse of split
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
print(delimiter.join(t))

pining for the fjords

# 11. Objects and values

In [100]:
# If we execute these assignment statements:
a = 'banana'
b = 'banana'

We know that a and b both refer to a string, but we don’t know whether they refer
to the same string. There are two possible states:

In one case, a and b refer to two different objects that have the same value. 

In the second case, they refer to the same object.

<img src="L7string.png">

In [101]:
# To check whether two variables refer to the same object, you can use the is operator.
a is b

True

In [102]:
# In this example, Python only created one string object, and both a and b refer to it.
# But when you create two lists, you get two objects:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In this case we would say that the two lists are equivalent, because they have the
same elements, but not identical, because they are not the same object. 

If two objects are identical, they are also equivalent, but if they are equivalent, they are not necessarily identical.

In [103]:
a == b

True

### Aliasing

In [104]:
#If a refers to an object and you assign b = a, then both variables refer to the same object:
a = [1, 2, 3]
b = a
b is a

True

The association of a variable with an object is called a reference. 
In this example, there are two references to the same object.
An object with more than one reference has more than one name, so we say that the object is aliased.
If the aliased object is mutable, changes made with one alias affect the other:

In [105]:
a[1] = 10
print (b[1])

10

Although this behavior can be useful, it is error-prone. 
In general, it is safer to avoid aliasing when you are working with mutable objects.
For immutable objects like strings, aliasing is not as much of a problem.

# 12. List arguments

When you pass a list to a function, the function gets a reference to the list. 
If the function modifies a list parameter, the caller sees the change. 
For example, delete_head removes the first element from a list:

In [106]:
def delete_head(t):
    del t[0]

In [107]:
letters = ['a', 'b', 'c']
delete_head(letters)
print (letters)

['b', 'c']

The parameter t and the variable letters are aliases for the same object.

It is important to distinguish between operations that modify lists and operations
that create new lists. 
For example, the append method modifies a list, but the + operator creates a new list:

In [108]:
t1 = [1, 2]
t2 = t1.append(3)
print (t1)
print (t2)

[1, 2, 3]
None

In [109]:
t1 = [1, 2]
t3 = t1 + [3]
print (t1)
print (t3)

[1, 2]
[1, 2, 3]

In [110]:
t2 is t3

False

In [111]:
# This difference is important when you write functions that are supposed to modify lists. 
# For example, this function does not delete the head of a list:
def bad_delete_head(t):
    t = t[1:]        # WRONG!

In [112]:
# The slice operator creates a new list and the assignment makes t refer to it, but
# none of that has any effect on the list that was passed as an argument.
letters = ['a', 'b', 'c']
bad_delete_head(letters)
print (letters)

['a', 'b', 'c']

In [113]:
# An alternative is to write a function that creates and returns a new list. For example,
# tail returns all but the first element of a list:
def tail(t):
    return t[1:]

In [114]:
# This function leaves the original list unmodified. Here’s how it is used:
letters = ['a', 'b', 'c']
rest = tail(letters)
print (rest)
print (letters)

['b', 'c']
['a', 'b', 'c']

# Exercise

In [117]:
#Write a Python program to count the number of strings where the string length is 2 or more and the first and last 
#character are same from a given list of strings.
#Sample List : ['abc', 'xyz', 'aba', '1221']
#Expected Result : 2

def numofstr(t):
    count = 0
    l = len(t)
    for i in range(l):
        if (len(t[i]) > 1):
            if(t[i][0] == t[i][len(t[i]) - 1]):
                count = count + 1
    print(count)
        
letters = ['abc', 'xyz', 'aba', '1221']
numofstr(letters)

2

In [118]:
#Write a Python program to multiply all the items in a list.
def multi(t):
    ans = t[0]
    l = len(t)
    for i in range(1, l):
        ans = ans * t[i]
    print(ans)
    
num = [1, 2, 3, 4]
multi(num)

24

In [144]:
#Write a Python program to remove duplicates from a list.
def deldup(t):
    l = len(t)
    todel = []
    for i in range(l):
        for j in range(l):
            if (j != i):
                if(t[j] == t[i]):
                    todel.append(j)
    
    l = int(len(todel)/2)
    
    invcount = 0
        
    for i in range(l):
        del t[todel[i] - invcount]
        invcount = invcount + 1

letters = ['abc', 'xyz', 'abc', '1221', 'xyz']

deldup(letters)
print(letters)

['abc', 'xyz', '1221']

In [149]:
#Write a Python program to find the list of words that are longer than n from a given list of words.
def longthann(t, n):
    long = []
    l = len(t)
    for i in range(l):
        if (len(t[i]) > n):
            long.append(t[i])
    print(long)
    
letters = ['abc', 'xyz', 'abc', '1221', 'xyz']
n = 3
longthann(letters, n)

['1221']

In [151]:
#Write a Python program to check a list is empty or not.
def emptyornot(t):
    if(len(t) > 0):
        print("Not empty")
    else:
        print("Empty")
        
letters = []

emptyornot(letters)

Empty

In [152]:
#write a python program that increments all even numbers by one in a given list
def increment(t):
    l = len(t)
    for i in range(l):
        if(t[i]%2 == 0):
            t[i] = t[i] + 1
    print(t)

num = [1, 2, 3, 4]
increment(num)

[1, 3, 3, 5]

In [191]:
#Write a python program that divides the list into 4 parts and merges the first and last part
def dividnmerge(t):
    l = len(t)
    part1 = []
    part2 = []
    part3 = []
    part4 = []
    
    if (l == 3):
        part1.append(t[0])
        part2.append(t[2])
        
        part1 = part1 + part2
    elif (l > 3):
        if(l%4 == 0):
            
            div4 = int(l / 4)

            part1 = part1 + t[:div4]
            part2 = part2 + t[div4:div4*2]
            part3 = part3 + t[div4*2:div4*3]
            part4 = part4 + t[div4*3:div4*4]
            
            part1 = part1 + part4
        else:
            div4 = int(l / 4)
            part1 = part1 + t[:div4]
            part2 = part2 + t[div4:div4*2]
            part3 = part3 + t[div4*2:div4*3]
            part4 = part4 + t[div4*3:div4*4 + int(l%4)]
            
            part1 = part1 + part4
    
    
    print(part1)
        
num = [1, 5, 2, 6, 3, 7, 4, 8]
dividnmerge(num)

[1, 5, 4, 8]