# Contents
## 1. Sets
## 2. Set Operations
## 3. Set Methods
## 4. frozenset

# 1. Sets

Sets are unordered. 

Sets are mutable

You can think of them as a "bag" or mathematical set of objects, and so it doesn't make sense to talk about which item in the set is "first".

You can create an empty set using the `set()` function:

In [47]:
s = set()
s

set()

In [3]:
# You can use braces to create a set as well
s1 = {1,'hi',4,6}
s1

{1, 4, 'hi', 6}

In [4]:
# be carefull and analyse the following syntax, you can not create set using below statement
s = {}
print(s)
type(s)

{}

dict

In [6]:
# set don't allow duplication
s2 = {1, 2, 3, 4,4}
print(s2)

{1, 2, 3, 4}

In [7]:
# converting a list into set
lst = [2,4,5,6,4,3,2]
print (set(lst))

{2, 3, 4, 5, 6}

A very common use case for sets is as a convenient way of removing duplicates elements from a list.

# 2. Set Operations

In [11]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {2, 3, 4, 5, 7}

In [12]:
# Union of two set
s3 = s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7}

In [13]:
# Union of two set 
s3 = s1 | s2
print(s3)

{1, 2, 3, 4, 5, 6, 7}

In [14]:
# Intersection
s4 = s1.intersection(s2)
print(s4)

{2, 3, 4, 5}

In [15]:
# Intersection
s4 = s1 & s2
print(s4)

{2, 3, 4, 5}

In [16]:
# Set Difference (Set difference gives you the elements which are only in s1, and not in s2)
s5 = s1.difference(s2)
print(s5)

{1, 6}

In [18]:
# Set Difference (Set difference gives you the elements which are only in s1, and not in s2)
s5 = s1 - s2
print(s5)

{1, 6}

In [19]:
# Symmetric Difference (things which are in s1 or in s2, but not in both)
s6 = s1.symmetric_difference(s2)
print(s6)

{1, 6, 7}

In [21]:
# Symmetric Difference (things which are in s1 or in s2, but not in both)
s6 = s1 ^ s2
print(s6)

{1, 6, 7}

In [22]:
# Set Containment
a = {1, 2, 3, 4, 5}
b = {1, 2, 3}
b.issubset(a)

True

In [23]:
b <= a

True

In [24]:
a.issuperset(b)

True

In [29]:
#  two sets have nothing in common
s1 = {1, 2, 5}
s2 = {3, 6, 7}
s1.isdisjoint(s2)

True

# 3. Set Methods

In [30]:
# Adding elements
s1 = {1, 2, 3, 4, 5}
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

In [32]:
s1.add(7)
s1

{1, 2, 3, 4, 5, 6, 7}

In [35]:
s1.add(6)
s1

{1, 2, 3, 4, 5, 6, 7}

In [36]:
# to add collection of elements
s1.update({5, 8, 9})
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
# to remove elements from set
s1.remove(5)
s1

{1, 2, 3, 4, 6, 7, 9}

In [40]:
# if you pass element that was not in the set then
s1.remove(15)
s1

KeyError: 15

In [45]:
# If you want to remove an element without worrying about getting an exception
s1.discard(4)
s1

{6, 7, 9}

In [44]:
s1.discard(12)
s1

{4, 6, 7, 9}

In [42]:
# remove any element from set
s1.pop()

2

# 4. frozenset

 There is a special kind of set called a frozenset that isn't mutable.

In [48]:
fs = frozenset({1,3,4,6})

In [49]:
dir(fs)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']